body {
    background: #141414;
    font-family: Arial;
    line-height: 1.6;
    font-size: 0.8em;
    word-wrap: break-word;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    color: #ddd;
}

hr {
    display: block;
    border: 0px;
    border-top: 1px solid rgb(68, 68, 68);
    margin: 15px 0
}

a:link, a:visited {
    color: #2185b4;
    text-decoration: none;
}

input, button {
    color: #ddd;
    display: block;
    padding: 5px 6px 4px 6px;
    border: 1px solid rgba(68, 68, 68);
    background: rgba(68, 68, 68, 0.25);
    display: inline-block;
    border-radius: 8px;
}

input:focus {
    outline: none;
}