body {
    background: #141414;
    font-family: Georgia;
    line-height: 1.6;
    font-size: 0.9em;
    word-wrap: break-word;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-font-smoothing: antialiased;
}

a, label, h1, form {
    color: #ddd;
}

hr {
    display: block;
    border: 0;
    border-top: 1px solid rgb(68, 68, 68);
    margin: 15px 0
}

a:link, a:visited {
    color: #2185b4;
    text-decoration: none;
}

table {
    color: #ddd
}

td {
    width: 100px;
    min-width:100px;
}

input, button {
    display: block;
    padding: 4px 6px 5px 6px;
    border: 1px solid rgba(68, 68, 68);
    background: rgba(68, 68, 68, 0.25);
    color: #ddd;
    display:inline-block;
}