<!doctype html>

<html lang="en">
  	<head>
		<meta charset="utf-8">

		<title>neverland</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="author" content="roguezilla">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		  
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<a>Logged in as {{ g.user }}</a>
		<button onclick="location.href = '/logout';">Logout</button>
        <h1>neverland</h1>
          
        {% for user in users %}
            <form method="POST">
			    <a>{{ user['name'] }}</a>
                <button type="submit" name="submit-button" value="approve?{{ user['name'] }}">approve</button>
                <button type="submit" name="submit-button" value="deny?{{ user['name'] }}">deny</button>
            </form>
            <br>
		{% endfor %}
	</body>
</html>