<!doctype html>

<html lang="en">
  	<head>
		<meta charset="utf-8">

		<title>neverland</title>
		{% load static %}
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta name="author" content="roguezilla">

		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>

	<body>
		<a>Logged in as {{ username }}</a>
		<button onclick="location.href = '/logout';">logout</button>
  		<h1>neverland</h1>

		<form method="POST" action="/upload" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="file" name="file-input" id="file-input" multiple required/>
			<br>
			<button type="submit" id="upload-file-btn">submit</button>
		</form>
		
		{% load static %}
		<div id="loading" style="display:none;"><img src="{% static 'images/spinner.gif' %}" alt="" /></div>
		<hr>
		  
		<table width="100%">
			<col style="width: 0%">
			<col style="width: 50%">
			<col style="width: 0%;">
			<col style="width: 0%">
			<tr>
				<th>uploader</th>
				<th>filename</th>
				<th></th>
				<th>size</th>
			</tr>
			{% for file in files %}
			<tr>
				<td>{{ file.uploader }}</td>
				<td><a href="/download/{{ file.filename }}">{{ file.filename }}</a></td>
				<td><button id="delete-file-btn" onclick="location.href = '/delete/{{ file.filename }}'">delete</button></td>
		  		<td>{{ file.size }}</td>
			</tr>
			{% endfor %}
		</table>

		{% load static %}
		<script src="{% static 'js/custom.js' %}"></script>
	</body>
</html>