<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>neverland</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="roguezilla">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/logres.css') }}">
    </head>

    <body>
        <h1 style="color: rgb(255, 255, 255)">neverland</h1>

		<form method="POST">
            {% if request.args and 'taken' in request.args.get('msg') %}
                <!--top 10 anime codes-->
                <a id="taken">username already taken</a>
                <br id="br">
                <script>
                    $(document).ready(function () {
                        $('#taken').fadeOut(1000);
                        setTimeout(function() {
                            $('#taken').remove();
                            $('#br').remove();
                        }, 1000);
                    });
                </script>
            {% endif %}
			<input type="text" placeholder="enter username" name="uname" required>
			<br>
			<input type="password" placeholder="enter password" name="pwd" required>
            <br>
            <br>
            <button type="submit">login</button>
            <button onclick="location.href = '/register'">register</button>
        </form>
    </body>
</html>