<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>neverland</title>

        {% load static %}
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="roguezilla">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <style>
            body {
                top: 50%;
                transform: translate(-50%, -50%);
            }
        </style>
    </head>

    <body>
        <h1 style="color: rgb(255, 255, 255)">neverland</h1>

		<form method="POST">
            {% csrf_token %}
			<input type="text" placeholder="enter username" name="username" required>
			<br>
			<input type="password" placeholder="enter password" name="password" required>
            <br>
            <br>
            <button type="submit">login</button>
            <button onclick="location.href = '/register'">register</button>
        </form>
    </body>
</html>