<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>neverland</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="roguezilla">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    </head>

    <body>
        <h1 style="color: rgb(255, 255, 255)">neverland</h1>

		<form method="POST">
			<input type="text" placeholder="enter username" name="uname" required>
			<br>
			<input type="password" placeholder="enter password" name="pwd" required>
            <br>
            <br>
			<button type="submit">login</button>
		</form>
    </body>
</html>