<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>neverland</title>

        {% load static %}
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="roguezilla">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        {% load static %}
		<link rel="stylesheet" href="{% static 'css/logres.css' %}">
    </head>

    <body>
        <h1 style="color: rgb(255, 255, 255)">neverland</h1>

		<form method="POST">
            {% csrf_token %}
            {% if request.GET and 'taken' in request.GET %}
                <!--top 10 anime codes-->
                <a id="taken">username or email already taken</a>
                <br id="br">
                <script>
                    $(document).ready(function () {
                        $('#taken').fadeOut(1000);
                        
                        setTimeout(function() {
                            $('#taken').remove();
                            $('#br').remove();
                        }, 1000);

                        window.history.pushState({}, document.title, "/register" );
                    });
                </script>
            {% endif %}

            <input type="text" placeholder="enter email" name="email" required>
			<br>
			<input type="text" placeholder="enter username" name="username" required>
			<br>
			<input type="password" placeholder="enter password" name="password" required>
            <br>
            <br>
            <button onclick="location.href = '/login'">back</button>
			<button type="submit">register</button>
		</form>
    </body>
</html>